---
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class=`
		flex flex-col gap-6
		bg-gray-100 p-6
	`>
		<h1>Hey, I'm Diego Hernandez</h1>

	</body>
</html>
