---
interface Props {
    asCallout?: boolean,
    id?: string,
    class?: string,
}
const { asCallout = false, id= '', class: className } = Astro.props;
---

<div id={id} class=`${ className } flex flex-col gap-6 w-full text-justify ${ asCallout && 'bg-gray-100 p-6 rounded' }`>
    <slot />
</div>
