---
interface Props {
    text: string,
    value: string,
}
const { text, value } = Astro.props;
const uuid = crypto.randomUUID();
---
<button id={uuid} class="border-2 border-solid border-black">
    { text }
</button>

<script define:vars={{ uuid, text, value }} is:inline>
    const button = document.getElementById(uuid);

    button.addEventListener("click", async () => {
        try {
            await navigator.clipboard.writeText(value);
            button.classList.replace('border-black', 'border-green-500');
            button.innerText = '¡Copiado con éxito!';

            setTimeout(() => {
                button.innerText = text;
                button.classList.replace('border-green-500', 'border-black');
            }, 3000)
        } catch (err) {
            button.innerText = 'No pudimos copiar la CLABE :('
            button.classList.add('border-red-500');
        }
    })
</script>
