---
import Container from "./Container.astro";
import {formatter, getID, sum} from "./utils";

export const expenses: { label: string, color: string, data: number[]}[] = [
    {
        label: 'Transporte',
        color: 'bg-zinc-700',
        data: [14000],
    },
    {
        label: 'Boleto SEEK',
        color: 'bg-purple-700',
        data: [6500]
    },
    {
        label: 'Hospedaje',
        color: 'bg-sky-700',
        data: [4500],
    },
    {
        label: 'Comida',
        color: 'bg-green-700',
        data: [6500]
    }
]

export const totalExpenses: number = sum(expenses.map(i => sum(i.data)));

const uuid = '' + getID();
---
<Container id={uuid} asCallout={true}>
    <h3>¿Cuánto necesito?</h3>

    <p>
        Este año necesito { formatter.format(totalExpenses) } MXN para vivir SEEK 2025. Los gastos se distribuyen de la siguiente manera:
    </p>

    <div class="flex gap-2 w-full">
        {
            expenses.map((exp, index) => {
                return <div class="flex flex-col gap-2 items-center justify-end" style={`width: ${ sum(exp.data) / totalExpenses * 100 }%`}>
                    <p class="text-sm text-center">{ exp.label }</p>

                    <div class:list={[
                        "h-2 w-full",
                        exp.color,
                        index == 0 ? 'rounded-l-full' : index == expenses.length - 1 ? 'rounded-r-full' : ''
                    ]}></div>

                    <p class="text-xs text-center">
                        { formatter.format(sum(exp.data)) }
                    </p>
                </div>
            })
        }
    </div>
</Container>
